<div class="deployment-detail" data-deploy="{{key}}">
  
  <h1>{{push.head_commit.message}}</h1>

  <dl>
    <dt>Author</dt>
    <dd>{{push.head_commit.author.name}} &lt;{{push.head_commit.author.email}}&gt;</dd>

    <br>

    <dt>SHA</dt>
    <dd><a href="{{push.head_commit.url}}">{{push.head_commit.id}}</a></dd>

    <br>

    <dt>Time</dt>
    <dd>{{moment push.repository.pushed_at}}</dd>

    <br>

    <dt>Status</dt>
    <dd>{{badge status}}</dd>
  </dl>

  <h2>Deployment Log</h2>

  <div class="deployment-log">
    {{#each messages}}
      <p class="line">{{text}}</p>
    {{/each}}
  </div>

</div>