<h1>{{message}}</h1>

<dl>
  <dt>Author</dt>
  <dd>{{author}}</dd>

  <br>

  <dt>SHA</dt>
  <dd><a href="{{url}}">{{sha}}</a></dd>

  <br>

  <dt>Time</dt>
  <dd>{{moment time}}</dd>

  <br>

  <dt>Status</dt>
  <dd>{{badge success}}</dd>
</dl>

<h2>Deployment Log</h2>

<div class="deployment-log">
  <p class="line">Deployer running `deploy_v0.1.8.sh`...</p>
  <p class="line">git fetch origin</p>
  <p class="line">remote: Counting objects: 8, done.</p>
  <p class="line">remote: Compressing objects: 100% (8/8), done.</p>
  <p class="line">remote: Total 8 (delta 0), reused 8 (delta 0)</p>
  <p class="line">Unpacking objects: 100% (8/8), done.</p>
  <p class="line">From https://github.com/jwilm/deployer</p>
  <p class="line">&nbsp;&nbsp;&nbsp;12aae1e..0293a82&nbsp;&nbsp;master&nbsp;&nbsp;&nbsp;&nbsp;-> origin/master</p>
</div>